body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Mutation Styles */
.mutated {
    background-color: yellow !important;
}

/* Input widths */

input[type="text"], input[type="number"] {
    width: 250px !important;
}

/* Border Styles */
.border-inset-50 {
    padding: 1%;
    border: 1px solid #c0c0c0;
    margin: 50px;
}

/* Colors */
label, dt {
    color: darkblue;
}

